.header {
    position: sticky;
    top: 0;
    background-color: var(--mantine-color-body);
    transition: box-shadow 150ms ease;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
    }
}

.scrolled {
    box-shadow: var(--mantine-shadow-sm);
}

.contenedorPrincipal {

    width: 100vw;
    height: 100vh;

    background-image: url('https://raw.githubusercontent.com/mantinedev/mantine/master/.demo/images/bg-10.png');
    background-size: cover;
    /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedorTabla {
    background-color: white;
    /* Color de fondo blanco */
    width: 60vw;
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
    /* Sombra leve */
    padding: 20px;
    /* Espacio interior para mantener el contenido dentro de los márgenes del fondo blanco */
}